<li class="nested-fields coupom accordion" id="coupom">
  <div onclick="toggle_collapse(this);" style="width: 100%;">
    &nbsp;<a class='label label-warning pull-left abrir' id="abrir"> Mostrar/Ocultar </a>
  </div>
  <div class='fundo-branco collapse' id="collapse">
    <div class="pull-right">
      <%= link_to_remove_association f do %>
        <i class='fa fa-trash-o btn btn-danger'> Remover</i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.association :user, collection: User.where.not(id: current_user.id), input_html: {class: 'select2'} %>
      </div>
    </div>
    <div class="col-md-5">
      <%= f.input :event, as: :hidden %>
    </div>
  </div>
</li>