<li class="nested-fields partnership accordion" id="partnership">
  <div onclick="toggle_collapse(this);" style="width: 100%;">
    &nbsp;<a class='label label-warning pull-left abrir' id="abrir"> Mostrar/Ocultar  </a>
  </div>
  <div class='fundo-branco collapse' id="collapse">
    <div class="pull-right">
      <%= link_to_remove_association f do %>
        <i class='fa fa-trash-o btn btn-danger'> Remover</i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, hint: 'Ex: Patrocínio, Apoio, Realização, etc...' %>
      </div>
      <div class="col-md-3">
        <%= f.association :institution, input_html: { class: 'select2', 'data-endpoint': institutions_path } %>
      </div>
    </div>
  </div>
</li>