<li class="nested-fields partnership accordion" id="partnership">
  <div class="tools">
    <i class='fa fa-minus display_fields'></i>
    <%= link_to_remove_association f do %>
      <i class='fa fa-trash-o red'> Remover</i>
    <% end %>
  </div>
  <div class='fundo-branco'>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, hint: 'Ex: Patrocínio, Apoio, Realização, etc...' %>
      </div>
      <div class="col-md-3">
        <%= f.association :institution, input_html: { class: 'select2', 'data-endpoint': institutions_path } %>
      </div>
    </div>
  </div>
</li>