<div class="box-body no-padding">
  <table class="table table-striped table-bordered" id="ic">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Início</th>
      <th>Término</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <% @event.stages.each do |stage| %>
      <tr class="text-vertical ">
        <td><%= stage.name %></td>
        <td><%= stage.date_start %></td>
        <td><%= stage.date_end %></td>
        <td><p><%= stage.description %></p></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
