<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @responsibility_type.name %>
</p>

<%= link_to 'Edit', edit_responsibility_type_path(@responsibility_type) %> |
<%= link_to 'Back', responsibility_types_path %>
