body {
  padding-top: 10rem;
  overflow: hidden;
  background: #ecf0f5;
}

.box.box-widget {
  border-color: #d2d6de !important;
}

.checkbox {
  margin-top: 0;
}

.checkbox label {
  padding-left: 10px;
}