<h1>Dashboard do usuario</h1>
<div class="row">
  <div class="col-md-4" id="events_with_more_inscriptions">
    <%= render 'events_user', events: @events %>
  </div>
  <div class="col-md-4" id="events_with_more_inscriptions">
    <%= render 'event_inscription_user', inscriptions: @inscriptions %>
  </div>
</div>