<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Tags mais usadas</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <canvas id="pieChart" style="height: 400px; width: 800px;" width="800" height="400" data-tags="<%= tags %>"></canvas>
  </div>
  <!-- /.box-body -->
</div>